name: CI
on:  
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:  
  build:    
    runs-on: ubuntu-latest

    steps:      
      - uses: actions/checkout@v2

      - name: Extract Secret
        env:
          TEST_SECRET: ${{secrets.TEST_SECRET}}
        run: This is wrong to expose - $TEST_SECRET

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
